@import '../../styles/global_styles.scss';


.form{
    width: 100%;
    display: grid;
    grid-template-columns: 77% 20%;
    align-items: flex-end;
    gap: 3%;
    flex-flow: row nowrap;
    background-color: #0900;
    justify-content: space-around;
    margin: 30px 0;
}

.inputGroup{
    @include display-left;
    width: 100%;
    flex-direction: column;
    align-items: left;
    label{
        color: $blueColor;
        font-size: 24px;
        margin-bottom: 10px;
        font-weight: 500;
    }
    .input{
        height: 60px;
        border: 2px solid $orangeMain;
        border-radius: 10px;
        padding-left: 10px;
        font-size: 20px;
        color: $orangeMain;
        &::placeholder{
            color: $orangeMain;
        }
        &:focus{
            outline: none;
            border: 2px solid $blueColor;
        }
    }
}